{% extends '_base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}Change Password{% endblock %}

{% block content %}


<div class="row">
    <div class="col">
        <div class="p-4 ps-5 my-5 mx-5 border-start border-dark border-2">
            <form method="post" enctype="multipart/form-data">
                <h2 class="entry-title mb-5">Change Password</h2>

                <div class="form-group w-50">
                    {% csrf_token %}
                    {{ form.media }}
                    {{ form|crispy }}
                </div>

                <div class="form-group w-50 mt-4">
                    <a href="{% url 'user' %}" class="btn btn-outline-dark btn-sm">
                        Back
                    </a>
                    <button type="submit" class="btn btn-dark btn-sm">Change Password</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}