{% extends '_base.html' %}

{% load static %}

{% block title %}Password Change Successful{% endblock %}

{% block content %}


<div class="row">
    <div class="col">
        <a href="{% url 'entry_list' %}">
            <div class="p-4 ps-5 my-5 mx-5 border-start border-dark border-2">
                <h2 class="entry-title mb-2">Password Change Successful</h2>
                <p>Your password was successfully changed</p>
            </div>
        </a>
    </div>   
</div>

{% endblock content %}